#CODESYS Ignore files#
*.~u
*.backup
*.tgs
*.opt
*.bootinfo
*.bootinfo_guids
*.compileinfo
#*.xml
*.simulation.bootinfo
*.simulation.bootinfo_guids
*.project.~u
*.library.~u
*.projectarchive

#DOSoft & ISPSoft Ignore files#
.bak
.~bak
*.tmp
*.~isp
*.~bak
*.bak